<a href="https://colab.research.google.com/github/chandushivalingareddy/Python-Workshop/blob/master/Day_1_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Write a program to print the triangle 
#i/p  4
#1
#2    3
#3    4   5
#4    5   6   7

In [4]:
n=4;
for i in range(0,n+1):
  j=i
  for k in range(i):    
    print(j,end=" ")
    j+=1

  print("")

1
2 3
3 4 5
4 5 6 7

#Enter number 4

#*
#* *
#* * *
#* * * *

In [ ]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

#Enter number 5

#5
#4 5
#3 4 5
#2 3 4 5
#1 2 3 4 5

In [3]:
n=5
for i in range(n+1,1,-1):
  i-=1
  for j in range(i,n+1):
        print(j, end=" ")
        j+=1
  print('')

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#Enter number 5

#5 4 3 2 1
#4 3 2 1
#3 2 1
#2 1
#1

In [ ]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#Enter number 4

#1 2 3 4
#2 3 4
#3 4
#4
#3 4
#2 3 4
#1 2 3 4

In [2]:
n=4;

for i in range(0,n,1): 
  for j in range(i+1,n+1,1):     
    print(j,end=" ")
  print("") 

for i in range(n-1,0,-1): 
  for j in range(i,n+1):     
    print(j,end=" ")
  print(" ")

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

#Find the length of a string without using len functions

In [ ]:
str = input("Enter a string: ")

# counter variable to count the character in a string
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: python is awesome
Length of the input string is: 17

#Find the no of words and characters in a string

In [1]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:hello world
Number of words in the string:
2
Number of characters in the string:
11

#Find the no of occurrences of a word in a string

In [ ]:
# define string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2