<a href="https://colab.research.google.com/github/chandushivalingareddy/Python-Workshop/blob/master/Day_2_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary Exercises

#Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
dict={}
n=int(input("enter the no of students"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the marks"))
  dict[name]=marks
print(dict)
d1=dict.items()
sort=sorted(d1,reverse=True);
print("The sorted dictionary is")
print(sort)

enter the no of students2
Enter the namechandana
Enter the marks87
Enter the namechurashma
Enter the marks84
{'chandana': 87, 'churashma': 84}
The sorted dictionary is
[('churashma', 84), ('chandana', 87)]

#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [6]:
dict1={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  salary=int(input("Enter the salary"))
  dict1[name]=salary
print(dict1)
d2=dict1.items()
sort=sorted(d2);
print("The sorted dictionary is")
print(sort)

enter the no of employees2
Enter the namemeena
Enter the salary50000
Enter the namegeetha
Enter the salary60000
{'meena': 50000, 'geetha': 60000}
The sorted dictionary is
[('geetha', 60000), ('meena', 50000)]

#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [7]:
import statistics
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
sort=sorted(dict.items(),key=lambda x:x[1]);
print("The sorted dictionary is")
print(sort)
print("The sum is")
print(sum(dict.values()))
print("the maximum is")
max_val=max(dict,key=dict.get)
print(max_val)
print("the minimum is")
min_val=min(dict,key=dict.get)
print(min_val)
 
mean= statistics.mean(dict.values()) 
 
print("The average of salary is",mean)

enter the no of employees3
Enter the namemeena
Enter the salary50000
Enter the namegeetha
Enter the salary60000
Enter the namesunitha
Enter the salary75000
{'meena': 50000, 'geetha': 60000, 'sunitha': 75000}
The sorted dictionary is
[('meena', 50000), ('geetha', 60000), ('sunitha', 75000)]
The sum is
185000
the maximum is
sunitha
the minimum is
meena
The average of salary is 61666.666666666664

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [9]:
dict={}
n=int(input("enter the no of employees"))
for i in range(n):
  name=input("Enter the name")
  marks=int(input("Enter the salary"))
  dict[name]=marks
print(dict)
res={key:val for key, val in dict.items() if val>2000 and val<4000}
print(res)

enter the no of employees3
Enter the namemeena
Enter the salary2500
Enter the namegeetha
Enter the salary3000
Enter the namesunitha
Enter the salary3500
{'meena': 2500, 'geetha': 3000, 'sunitha': 3500}
{'meena': 2500, 'geetha': 3000, 'sunitha': 3500}

#Python program to convert a 3 digit number  into words

In [ ]:
d={10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'two hundred',300:'three hundred'}

num=int(input("Enter the integer between 10 to 300:"))
if (num<=90):
      print(d[num])
if(num>90 and num<300):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 10 to 300:200
two hundred

#Files Exercises

#Python Program to count the total number of charaters (except blank space) in a text file.

In [11]:
file = open("/content/sample_data/file.txt","r")
data = file.read().replace(" ","")
number_of_characters = len(data)
print('Number of characters in text file :', number_of_characters)

Number of characters in text file : 44

#Python Program to print all the numbers present in a text file with its total number of occurrence.

In [12]:
fname = input("Enter the name of the file:")
infile = open(fname, 'r')
content = infile.readlines() 
a = 0
for line in content: 
    for i in line:  
        if i.isdigit() == True: 
          a=a+1
print("The total numbers in a text file is:", a)

Enter the name of the file:/content/sample_data/file.txt
The total numbers in a text file is: 2

#Python Program to append the contents of one file to another file

In [13]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /content/sample_data/file.txt
Enter file to be appended to: /content/sample_data/file1.txt

#Python Program to count the number of blank spaces in a text file.

In [14]:
fname = input("Enter file name: ")
k = 0

with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: /content/sample_data/file.txt
Occurrences of blank spaces:
41

#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [15]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
    for line in f:
        l=line.title()
        print(l)

Enter file name: /content/sample_data/file.txt
I Am Chandana

I Am 20 Years Old

I Am Studying In Aiet